streamlit==1.10.0
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
pyls-spyder==0.4.0
sklearn==0.0
scikit-learn==1.1.1
scipy==1.8.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4









